.backg {
    width: 100%;
    height: 100vh;
    background-color: rgba(216, 216, 216, 0.926);
    display: flex;
    align-items: center;
    justify-content: center;

}

.Listscreen-cont {
    width: 40%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Listview-screen {
    width: 95%;
    height: 100%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.Listview-screen::-webkit-scrollbar {
    width: 0;
}

.top-main-cont {
    width: 100%;
    height: 25%;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid hwb(0 53% 47%);
    
}

.top-head-bar {
    width: 100%;
    height: 30%;
    /* background-color: orange; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.site-name-cont {
    height: 80%;
    width: 25%;
    /* background-color: red; */
    display: flex;
    align-items: center;
}

.site-name-cont p {
    font-size: 1.4rem;
    font-weight: 700;
    color: black;
    cursor: pointer;
}

.locat-icon-cont {
    height: 80%;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background-color: yellow; */
    position: relative;
}

.locat-dropdown-cont {
    width: auto;
    min-width: 60px;
    max-width: 80px;
    height: 100px;
    position: absolute;
    top: 100%;
    background-color: white;
    border: 1px solid #b0b0b0;
    overflow: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    z-index: 2;
}

.locat-dropdown-cont::-webkit-scrollbar {
    width: 0;
    padding: 0;
}

.locat-dropdown-cont ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.locat-dropdown-cont ul li {
    text-align: center;
    padding: 2px;
    font-size: 0.9rem;
    font-weight: 500;
    border-top: 2px solid #b0b0b0;
}

.locat-dropdown-cont ul li:hover {
    background-color: rgb(200, 200, 200);
    transition: 0.1s ease;

}

.locat-icon-cont:hover {
    cursor: pointer;
}

.locatIcon-img-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.locatIcon-img-container img {
    object-fit: cover;
    width: 65%;
    height: auto
}

.locatIcon-img-container:hover img {
    width: 75%;
    height: auto
}


.search-cont {
    width: 100%;
    height: 50%;
    /* background-color: #b3848c; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;


}

.search-box-cont {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;
    /* background-color: red; */
    position: relative;
    z-index: 1;

}

.search-Option-list-cont {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 100%;
    background-color: hsl(0, 0%, 100%);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1;
    cursor: pointer;
}

.search-Option-list-cont li {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: flex-end;
}
.search-Option-list-cont li:hover{
    background-color: rgb(200, 200, 200);
}
.search-option-text-cont{
    display: flex;
    width: 90%;
    height: 100%;
    border-bottom: 1px solid #b0b0b0;
    /* background-color: yellow; */
    align-items: center;
}
.search-option-text-cont p{
    text-align: left;
    font-weight: 400;
    font-size: 1.1rem;
    padding: 0;
    margin: 0;

}

.searchOption-img-cont {
    width: 5%;
    height: 100%;
    /* background-color: aquamarine; */
    margin-right: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchOption-img-cont img{
    object-fit: cover;
    height: auto;
    width: 90%;
}
.searchOption-arrowImg-cont {
    width: 5%;
    height: 100%;
    /* background-color: aquamarine; */
    margin-right: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchOption-arrowImg-cont img{
    object-fit: cover;
    height: auto;
    width: 70%;
}


.searchIcon-container {
    background-color: white;
    height: 95%;
    width: 5%;
    border-bottom: 2px solid hwb(0 53% 47%);
    border-top: 2px solid hwb(0 53% 47%);
    border-left: 2px solid hwb(0 53% 47%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.searchIcon-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.searchInput-cont {
    width: 80%;
    height: 95%;
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid hwb(0 53% 47%);
    border-top: 2px solid hwb(0 53% 47%);
    border-right: 2px solid hwb(0 53% 47%);
}


.searchInput-cont input {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    border: none;
    padding: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.1rem;
    font-weight: 500;
}

.searchInput-cont input[type="search"]:focus {
    outline: none;
    border: none;
}

.search-btn-container{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-btn-container input{
    width: 95%;
    height: 95%;
    display: flex;
    border: none;
    padding: 0;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    background-color:  rgba(0, 144, 255, 1);

}

.roomSort-option-cont {
    width: 100%;
    height: 20%;
    /* background-color: yellowgreen; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.amenities-cont {
    /* background-color: blue; */
    height: 80%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
}

.amenities-cont p {
    font-weight: 500;
    font-size: 1rem;
}

.amenities-cont img {
    margin-left: 3%;
    margin-top: 5%;
}

.amenities-cont:hover {
    cursor: pointer;
    background-color: rgb(200, 200, 200);
    transition: 0.1s ease;

}

.hotelAmenities-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    border: 2px solid hwb(0 53% 47%);

}

.hotelAmenities-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.hotelAmenities-dropdown ul li {
    width: 95%;
    height: 100%;
    text-align: center;
    border-top: 2px solid hwb(0 53% 47%);
    font-weight: 500;
    font-size: 0.9rem;
    padding: 3px;
}

.hotelAmenities-dropdown ul li:hover {
    background-color: rgb(200, 200, 200);
    transition: 0.1s ease;
}


.filter-cont {
    /* background-color: blue; */
    height: 80%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
}

.filter-cont:hover {
    cursor: pointer;
    background-color: rgb(200, 200, 200);
    transition: 0.1s ease;

}

.filter-cont p {
    font-weight: 500;
    font-size: 1rem;
}

.filter-cont img {
    margin-left: 3%;
    margin-top: 5%;
}

.filter-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(255, 255, 255);
    border: 2px solid hwb(0 53% 47%);
    width: 100%;
    height: auto;

}


.filter-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.filter-dropdown ul li {
    text-align: center;
    border-top: 2px solid hwb(0 53% 47%);
    font-weight: 500;
    font-size: 0.9rem;
    padding: 3px;
}

.filter-dropdown ul li:hover {
    background-color: rgb(200, 200, 200);
    transition: 0.1s ease;

}


.sort-cont {
    /* background-color: blue; */
    height: 80%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    margin-right: 1%;
}

.sort-cont:hover {
    cursor: pointer;
    background-color: rgb(200, 200, 200);
    transition: 0.1s ease;

}

.sort-cont p {
    font-weight: 500;
    font-size: 1rem;
}

.sort-cont img {
    margin-left: 3%;
    margin-top: 5%;
}

.sort-list-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(255, 255, 255);
    border: 2px solid hwb(0 53% 47%);
    width: 100%;
    height: auto;
    display: none;

}

.sort-list-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sort-list-dropdown ul li {
    text-align: center;
    border-top: 2px solid hwb(0 53% 47%);
    font-weight: 500;
    font-size: 0.9rem;
    padding: 3px;
}

.sort-list-dropdown ul li:hover {
    background-color: rgb(200, 200, 200);
    transition: 0.1s ease;

}

.hotelList-cont {
    width: 100%;
    /* background-color: pink; */
    height: 80%;
    display: flex;
    flex-direction: column;

}

.hotelList-cont ul {
    width: 100%;
    /* background-color: pink; */
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.hotelEmptyList-cont{
    width: 100%;
    background-color: hwb(0 86% 14%);
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hotelEmptyList-cont p{
    font-size: 2rem;
    font-weight: 700;
    color: hwb(0 40% 60%);
}




@media screen and (max-width: 390px) {
    .Listview-screen {
        width: 98%;
    }

    .Listscreen-cont {
        width: 100%;
    }

    .site-name-cont p {
        font-size: 1.3rem;
        font-weight: 700;
    }

    .locatIcon-img-container img {
        width: 90%;
    }

    .locatIcon-img-container:hover img {
        width: 100%;
    }

    .locat-dropdown-cont ul li {
        text-align: center;
        padding: 2px;
        font-size: 0.7rem;
        font-weight: 500;
        border-top: 2px solid #b0b0b0;
    }

    .searchIcon-container {
        width: 8%;

    }
    .search-btn-container input{
        font-size: 0.7rem;
        font-weight: 700;
    }
    .search-option-text-cont p{
        font-weight: 400;
        font-size: 0.9rem;
        
    }

    .amenities-cont {
        width: 25%;
    }

    .amenities-cont p {
        font-weight: 500;
        font-size: 0.7rem;
    }

    .amenities-cont img {
        width: 20%;
        height: auto;
        object-fit: cover;
    }

    .hotelAmenities-dropdown ul li {
        font-weight: 500;
        font-size: 0.7rem;
        padding: 2px;
    }

    .filter-cont {
        width: 25%;
    }

    .filter-cont p {
        font-weight: 500;
        font-size: 0.7rem;
    }

    .filter-cont img {
        width: 20%;
        height: auto;
        object-fit: cover;
    }

    .sort-cont {
        width: 25%;
    }

    .sort-cont p {
        font-weight: 500;
        font-size: 0.7rem;
    }

    .sort-cont img {
        width: 20%;
        height: auto;
        object-fit: cover;
    }

    .hotelEmptyList-cont p{
        font-size: 1.1rem;
        font-weight: 600;
    }
}


@media screen and (max-width: 415px) {
    .Listview-screen {
        width: 98%;
    }

    .Listscreen-cont {
        width: 100%;
    }

    .site-name-cont p {
        font-size: 1.3rem;
        font-weight: 700;
    }

    .locatIcon-img-container img {
        width: 90%;
    }

    .locatIcon-img-container:hover img {
        width: 100%;
    }

    .locat-dropdown-cont ul li {
        text-align: center;
        padding: 2px;
        font-size: 0.7rem;
        font-weight: 500;
        border-top: 2px solid #b0b0b0;
    }

    .searchIcon-container {
        width: 8%;

    }
    .search-btn-container input{
        font-size: 0.7rem;
        font-weight: 700;
    }
    .search-option-text-cont p{
        font-weight: 400;
        font-size: 0.9rem;
        
    }

    .amenities-cont {
        width: 25%;
    }

    .amenities-cont p {
        font-weight: 500;
        font-size: 0.7rem;
    }

    .amenities-cont img {
        width: 20%;
        height: auto;
        object-fit: cover;
    }

    .hotelAmenities-dropdown ul li {
        font-weight: 500;
        font-size: 0.7rem;
        padding: 2px;
    }

    .filter-cont {
        width: 25%;
    }

    .filter-cont p {
        font-weight: 500;
        font-size: 0.7rem;
    }

    .filter-cont img {
        width: 20%;
        height: auto;
        object-fit: cover;
    }

    .sort-cont {
        width: 25%;
    }

    .sort-cont p {
        font-weight: 500;
        font-size: 0.7rem;
    }

    .sort-cont img {
        width: 20%;
        height: auto;
        object-fit: cover;
    }

    .hotelEmptyList-cont p{
        font-size: 1.1rem;
        font-weight: 600;
    }
}